[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchainhub = "*"
black = "*"
python-dotenv = "*"
langchain-community = "*"
requests = "*"
aiohttp = "*"
langchain-core = "*"
openai = "*"
langchain = "*"
langchain-openai = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.10"
